<div class="global-div-login padding-global">
  <h1 class="h1-login">Sign up</h1>
<div class="div1-login">
  <form method="POST" action="/auth/signup">

    <div class="field">
      <input class="input-size" type="text" name="username" placeholder="Username" />
    </div>

    <div class="field">
      <input class="input-size" type="text" name="email" placeholder="Email" />
    </div>

    <div class="field">
      <input class="input-size" type="password" name="password" placeholder="Password" />
    </div>

    <div class="field">
      <input class="input-size" type="password" name="confirmedPassword" placeholder="Confirm password" />
    </div>

    <div class="field submit">
      <button class="button-login" type="submit">Sign up</button>
    </div>
  </form>
  </div>
  {{> flash}}
  <footer class="footer-login">
    <a class="none-decoration" href="/">Back</a>
  </footer>
</div>