<div class="padding-global-list text-align-center home">
  <h1>Hello, {{user.username}}</h1>

  <div class="home-section">
    <h4>Get Inspired</h4>
    <p>Read and delight you with the other users words</p>
    <div class="button-home-div">
    <a href="/letters/list" class="home-button">See notes</a>
    </div>
  </div>

  <div class="home-section">
    <h4>Express yourself</h4>
    <p>Share your own thoughts and reflexions</p>
    <div class="button-home-div">
    <a href="/letters/new" class="home-button">Create note</a>
    </div>
  </div>

  <div class="home-section">
    <h4>Take a challenge</h4>
    <p>Explore you own thoughts and practice creative writing</p>
    <div class="button-home-div">
    <a href="/challenges/list" class="home-button">Challenges</a>
    </div>
  </div>
</div>