<div class="padding-global-list text-align-center">
  <h1>Hello, {{user.username}}</h1>

  <div>
    <h4>Get Inspired</h4>
    <p>Read and delight you with the other users words</p>
    <a href="/letters/list">See notes</a>
  </div>

  <div>
    <h4>Express yourself</h4>
    <p>Share your own thoughts and reflexions</p>
    <a href="/letters/new">Create note</a>
  </div>

  <div>
    <h4>Take a challenge</h4>
    <p>Explore you own thoughts and practice creative writing</p>
    <a href="/challenges/list">Challenges</a>
  </div>
</div>