<h1>Nombre de la aplicación</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id corrupti dicta laborum harum neque sequi unde veritatis, eligendi, praesentium eveniet error in sunt ipsum ad. Cum libero ea unde blanditiis
</p>
<a href="/login">Log in</a>
<p>Create an account: <a href="/signup">Sign up</a></p>


