<div class="global-div-index index">
    <div class="padding-index">
        <div class="div2-index">
            <h1 class="title-index">Beyond voice</h1>
        </div>
        <div class="div-login">
            <a class="button-login" href="/auth/login">Log in</a>
        </div>


        <p class="text-index"> You do not have an account?</p>
        <div class="signup-link">
            <a class="none-decoration" href="/auth/signup">Sign up</a>
        </div>
        <div class="info-link">
            <a href="/info">info</a>
        </div>

    </div>
</div>