<div class="global-div-index">
    <div class="div2-index">
        <h1>Thrill Board</h1>

        <p>Express your emotions writing notes anonymously to anyone or anything.</p>

        <p>Share your feelings. Know other users and their stories through their own notes.</p>

        <p>Participate and create writing challenges. Vote the best note.</p>
    </div>
    <div class="div1-index">
        <a href="/auth/login">Log in</a>
    </div>

    <footer class="footer-index">
        <p> you do not have an account? <a class="none-decoration" href="/auth/signup">Sign up</a></p>
    </footer>
</div>