<div class="index">
    <div class="padding-index">
        <div class="div2-index">
            <h1 class="title-index">Just Say It</h1>
        </div>
        <div class="div-login">
            <a class="button-login" href="/auth/login">Log in</a>
        </div>


        <p class="text-index"> Do you not have an account?</p>
        <div class="signup-link">
            <a class="text-index color-white" id="signup-link" href="/auth/signup">Sign up</a>
        </div>
    </div>
    <footer class="index-footer">
        <a href="/info"><img src="/images/information.png" alt="info"></a>
    </footer>
</div>