<div class="global-div-index index">
  <div class="padding-info">
    <div class="div2-index">
      <h2 class="title-index">What is Microteller?</h2>
    </div>
    <p class="text-info">This app is an online place where you can write and read short fictional stories</p>
    <ul class="ul-info">
      <li>Write short stories. Share fragments of just a few words and add them a continuation later</li>
      <li>Read and comment other microstories</li>
      <li>Participate and create microstories challenges. Vote the best microstory.</li>
    </ul>
    <div class="button-info">
      <a href="/" class="button-default">Back</a>
    </div>
  </div>
</div>