<div class="global-div-index index">
  <div class="padding-info">
    <div class="div2-index">
      <h2 class="title-index">What is Just Say It?</h2>
    </div>
    <p class="text-info">This app is on online place where you can write and read short and inspirational reflexions</p>
    <ul class="ul-info">
      <li>Express your thoughts and emotions writing notes anonymously.</li>
      <li>Know other users and their stories through their own notes.</li>
      <li>Participate and create writing challenges. Vote the best note.</li>
    </ul>
    <div class="button-info">
      <a href="/" class="button-login">Back</a>
    </div>
  </div>
</div>