<h2>What is Thrill Board?</h2>
<p>This app is on online place where you can write and read short and inspirational reflexions</p>
<ul>
  <li>Express your thoughts and emotions writing notes anonymously.</li>
  <li>Know other users and their stories through their own notes.</li>
  <li>Participate and create writing challenges. Vote the best note.</li>
</ul>

<a href="/">Back</a>