<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>x</title>
</head>

<body>
  {{#if currentUser}}
  <nav class="nav" role="navigation">
    <div id="menu-toggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="/letters/list">Inicio</a></li>
        <li><a href="/letters/new">Create note</a></li>
        <li><a href="/letters/my-letters">My notes</a></li>
        <li><a href="/challenges/list">Challenges</a></li>
        <li><a href="/letters/ranking">Best Notes</a></li>
        <li><a href="/challenges/new">Create challenge</a></li>
        <li><a href="/challenges/my-challenges">My challenges</a></li>
        <li><a href="/account/edit">My account</a></li>
        <li>
          <form action="/auth/logout" method="POST"><button type="submit">Log out</button></form>
        </li>
      </ul>
  </nav>
  {{/if}}
  {{{body}}}
  <script src="/javascripts/main.js"></script>
</body>

</html>