<div class="padding-global text-align-center">
    <h1 class="padding-bottom-2 h1-list padding-top-3">Are you sure you want to delete this story?</h1>
    <div class="delete-menu">
        <form action="/stories/{{id}}/delete" method="POST" class="delete-buttons">
            <button class="button-default short-button" type="submit">Yes</button>
        </form>
        <div class="delete-buttons"><a href="/stories/{{id}}" class="button-default short-button" >No</a></div>
    </div>
</div>