.index{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.padding-index{
  padding: 25px;
  padding-top: 100px;
}

.div-login{
 display: flex;
 justify-content: center;
 margin: 50px 0;
}

.button-login{
  padding: 12px;
  width: 200px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url(/images/fondo-boton.png);
  background-size: cover;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 4Vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.title-index{
  font-weight: 200;
  color: white;
}

.text-index{
  color:white;
  text-align: center;
}

.text-index-div a{
  text-align: center;
}

#signup-link{
  text-align: center;
  color: white;
  font-weight: bold;
}


.signup-link{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.index-footer{
  position: absolute;
   bottom: 0;
   width: 100%;
   height: 9vh;
   color: black;
   font-size: 3.2vh;
}

.index a img{
  width: 2em;
  margin-left: 5%;
 
}

.padding-info{
  padding: 25px;
  padding-top: 50px;
}

.ul-info{
  padding-left: 20px;
}

.ul-info li{
  list-style: disc;
  color: white;
  margin: 20px 0;
  font-size: 3.5vh;
}

.text-info{
  text-align: left;
  color: white;
  margin-top: 30px;
  font-size: 3.5vh;
}

.button-info{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


.home{
  color: white;
}

.home h1{
  font-weight: 200;
  margin-top: 20px;
}

.home h4{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 3.5vh;
}

.home-section{
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  height: 150px;
  text-align: left;
  font-size: 3vh;
  padding: 15px;
  margin: 50px 25px;
  margin-top: 25px;
}

.home-button{
  padding: 12px;
  width: 150px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url(/images/fondo-boton.png);
  background-size: cover;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 3Vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.button-home-div{
  display: flex;
  justify-content: flex-end;
}

.button-home-div a{
  margin-top: 20px;
}