<form action="/letters/new" method="POST">
  </div>
  <label for="">For:</label>
  <input type="text" name="receiver" >
  </div>

<label for="">Belongs to the group:</label>
  <select id="size-select" name="ambit">
    <option value="Experiences">Experiences</option>
    <option value="Family">Family</option>
    <option value="Friends">Friends</option>
     <option value="Lovers">Lovers</option>
    <option value="Me">Me</option>
    <option value="Objects">Objects</option>
    <option value="Places">Places</option>
    <option value="Others">Others</option>
  </select>

  <div>
  <label for="">Text</label>
  <input type="text" name="text">
  </div>

  <div>
  <label for="">Do you want to send your letter to your receiver?</label>
  <input type="text" name="email">
  </div>

  <button type="submit">Create letter</button>
</form>

{{> flash}}