<div class="padding-global">
<h2>Edit note</h2>

<form action="/letters/{{letter._id}}/edit" method="POST">

  <div>
    <label for="">Text</label>
    <input type="text" name="text" value="{{letter.text}}">
  </div>

  <input type="hidden" name="receiverEmail" value="{{letter.receiverEmail}}">
  <button type="submit">Edit</button>
</form>

{{#if data.messages.length}}
<ul class="validation">
  {{#each data.messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}
</div>