<h1>Letters</h1>

<form action="/auth/logout" method="POST"><button type="submit">Log out</button></form>

<ul>
  {{#each letters}}
  <li>
    <a href="/letters/{{this.id}}">For: {{this.receiver}}</a>
  </li>
  {{/each}}
</ul>