<h1>My Letters</h1>


{{#if letters}}
<ul>
  {{#each letters}}

  <li>
    <a href="/letters/{{this.id}}">{{this.receiver}}</a> - {{this.ambit}}
  </li>
  {{/each}}
</ul>
{{else}}
<p>You don't have any note yet</p>
<a href="/letters/new"> Create a note</a>
{{/if}}