<a href="/letters/list">See all notes</a>
<h1>Challenges</h1>

{{#if challenges}}
<ul>
  {{#each challenges}}
  <li>
    <a href="/challenges/{{this.id}}">{{this.objective}}</a> - {{this.ambit}}
  </li>
  {{/each}}
</ul>
{{else}}
<p>No challenges yet</p>
<a href="/challenges/new">Create challenge</a>
{{/if}}